*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: fit-content;
}


/* navigation bar */

.navbar{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  
}

.logo{
    display: flex;
    justify-content: left; 
}

.logo img{
    margin-left: 60px;
    margin-bottom: 10px;
    width: 150px;
}

.logo img:hover{
   cursor: pointer;
}

.links{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
    padding-left: 180px;
    font-size: 1.2em;
    font-weight: 500;
   
}

.links a {
    width: 120px;
    text-decoration: none;
    color: rgb(77, 135, 242);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


.links a::after{
    content: '';
    width: 120px;
    height: 3px;
    background: rgb(236, 83, 109);
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin:center;
    transform: scaleX(0);
    transition: transform .5s;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}

.navbtns{
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbtn1{
    font-size: 0.8em;
    color: rgb(77, 135, 242);
    border: 1px solid rgb(77, 135, 242);
    border-radius: 8px;
    background: transparent;
    height: 35px;
    width: 170px;
    transition: .5s;
}

.navbtn1 a{
    text-decoration: none;
    color: rgb(77, 135, 242);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
    padding-right: 37px;
    transition: .5s;
}

.navbtn1 a:hover{
    color: white;
}

.navbtn1:hover{
    cursor: pointer;
    color: white;
    background: rgb(77, 135, 242);
}

.navbtn2{
    color: white;
    border: 1px solid rgb(77, 135, 242);
    background: rgb(77, 135, 242);
    border-radius: 8px;
    width: 151px;
    height: 35px;
    border: none;
    margin-left: 10px;
    font-size: 0.8em;
    transition: .3s;
 
}

.navbtn2:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}

.navbtn2 a{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 34px;
    padding-right: 34px;
}



/* introduction */


.inroduction{
    display: flex;
    justify-content: right;
    align-items: center;
}


.intro-search{
    margin-left: 50px;
    width: 50%;
}

.intro h1{
    color: rgb(77, 135, 242);
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 35px;
}

.intro .intern{
    color: rgb(236, 83, 109);
}

.intro p{
    color: rgb(77, 135, 242);
    font-weight: 510;
    margin-bottom: 40px;
    font-size: 1.2em;
}

.search{
    display: grid;
}

.search label{
    color:  rgb(77, 135, 242);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
}

.search .city{
    padding-left: 20px;
    outline: none;
    width: 370px;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid rgb(77, 135, 242);
    font-size: 16px;
    color:  rgb(65, 63, 63);
}

.search .submit{
    color: white;
    outline: none;
    margin-top: 0px;
    border-radius: 20px;
    border: none;
    height: 35px;
    width: 180px;
    background: rgb(77, 135, 242);
    transition: .3s;
    margin-left: 100px;
}

.search .submit:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}

.bx.bx-chevron-down{
    position: absolute;
    display: flex;
    left: 370px;
    margin-bottom: 900px;
    color: rgb(77, 135, 242);
    font-size: 40px;  
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}

select{
    padding-left: 20px;
    outline: none;
    width: 350px;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    color:  rgb(114, 112, 112);
    background: transparent;
    
}

.regional{
    
    outline: none;
    width: 370px;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid rgb(77, 135, 242);
    font-size: 16px;
    color:  rgb(114, 112, 112);
}

.hello-photo{
    position: absolute;
    width: 500px;
    background: url("/asset/Asset\ 1.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    top: 130px;
    margin-left: 750px;
    margin-top: 0;
}




/* cards */

.cards1{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.card{
    width: 600px;
    height: 450px;
    border: 1px solid rgb(77, 135, 242);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: flex;
    padding: 30px;
}

.cards2{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}


.cardimage1{
    width: 60%;
    background: url(/asset/uiintern.jpeg);
    background-size: cover;
    margin-right: 30px;
}

.cardimage2{
    width: 60%;
    background: url("/asset/softintern.jpeg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage3{
    width: 60%;
    background: url("/asset/cocoaintern.jpg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage4{
    width: 60%;
    background: url("/asset/businessintern.jpg");
    background-size: cover;
    margin-right: 30px;
}



.cardcontent{
    width: 45%;
    font-size: 0.9em;
}

.description {
    height: 205px;
}

.description p{
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 15px;
}

ul{
    padding-left: 20px;
    margin-bottom: 10px;
}

.cardcontent h5{
    color: rgb(77, 135, 242);
    font-size: 1.3em;    
}

.cardcontent .title p{
    margin-bottom: 10px;
    color: rgb(125, 126, 126);
}

.btns{
    display: grid;
    justify-content: center;
    align-items: center;
}

.detailbtn{
    border: 1px solid rgb(77, 135, 242);
    background: transparent;
    margin: 5px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    transition: .5s;
}

.detailbtn:hover{
    cursor: pointer;
    background: rgb(77, 135, 242);
    color: white;
}

.detailbtn a{
    text-decoration: none; 
    color: black; 
    padding: 10px; 
    padding-left: 40px; 
    padding-right: 40px;
    transition: .5s;
}

.detailbtn a:hover{
    color: white;
}

.applybtn{
    border: 1px solid rgb(77, 135, 242);
    width: 120px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    background: rgb(77, 135, 242);
    margin: 5px;
    transition: .5s;
}

.applybtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}

.opplink{
    font-size: 1.3em;
    color: rgb(77, 135, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.opplink a{
    color: rgb(77, 135, 242);
}


/* aboutsection */

.aboutsection{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    margin-bottom: 20px;
    line-height: 25px;
    width: fit-content;
}

.aboutimg{
    background: url("/asset/aboutus.jpg");
    background-size: cover;
    width: 600px;
    height: auto;
}

.aboutcontent{
    width: 600px;
    height: 450px;
    margin-left: 40px;
    height: fit-content;
}

.aboutbtnbox{
    display: flex;
    justify-content: end;
    margin-top: 60px;
}

.aboutbtn{
    color: white;
    border: none;
    background: rgb(77, 135, 242);
    width: 150px;
    height: 38px;
    font-size: 1em;
    transition: .5s;
}

.aboutbtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}

.aboutcontent h3{
    color: rgb(77, 135, 242);
    margin-bottom: 20px;
}



/* our pricing */

.priceheader{
    display: flex;
    color: rgb(77, 135, 242);
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}


.servicesection{
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.servicesection h3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(77, 135, 242);
}

.servicecards{
    width: fit-content;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: 130px;
}


.servicecards .cd{
    border: 1px solid rgb(77, 135, 242);
    height: 450px;
    width: 300px;
    border-radius: 10px;
    margin-right: 50px;
    overflow: hidden;
    margin-bottom: 50px;
}

.servicecards .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgb(106, 152, 238);
    color: white;
}

.servicecards .rating{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.resourse1 .line{
    width: 150px;
    height: 1px;
    background: rgb(77, 135, 242);
    
}

.resourse1 span{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
}


.resourse1 p{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.resourse2 .line{
    width: 150px;
    height: 1px;
    background: rgb(77, 135, 242);
  
}

.resourse2 span{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}


.resourse2 p{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
   
}

.resourse3 .line{
    width: 150px;
    height: 1px;
    background: rgb(77, 135, 242);
    
}

.resourse3 span{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
}

.resourse3 p{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}



.cdbtn1{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 130px;
    
}

.cdbtn2{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}

.cdbtn3{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}

.cdbtn1 .signupbtn{
    border: none;
    color: white;
    width: 130px;
    background: rgb(77, 135, 242);
    height: 40px;
    border-radius: 8px;
    transition: .5s;
}

.cdbtn1 .signupbtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}

.cdbtn2 .signupbtn{
    border: none;
    color: white;
    width: 130px;
    background: rgb(77, 135, 242);
    height: 40px;
    border-radius: 8px;
    transition: .5s;
}

.cdbtn2 .signupbtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}

.cdbtn3 .signupbtn{
    border: none;
    color: white;
    width: 130px;
    background: rgb(77, 135, 242);
    height: 40px;
    border-radius: 8px;
    transition: .5s;
}

.cdbtn3 .signupbtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}

.bx.bxs-star{
    color: rgb(234, 234, 7);
    font-size: 30px;
    margin-bottom: 10px;
}


#star{
    color: rgb(203, 203, 203);
}






/* ourclients */

.ourclients{
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
}

.ourclients h3{
    color: rgb(77, 135, 242);
    margin: 20px;
}



.clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .fordak{
    height: 190px;
    margin-right: 50px;
}

.clients .goil{
    height: 180px;
    margin-right: 80px;
}

.clients .hubtel{
    height: 80px;
}

.clients .calbank{
    margin-left: 50px;
    height: 140px;
}

.clients .cocoa{
    height: 150px;
}






/* messagesection */

.messagesection{
    width: fit-content;
    height: 729px; 
    background-color: rgb(14, 66, 164);
    border-top: 1px solid rgb(77, 135, 242);
    background-image: url('/asset/people.png');
    background-repeat: none;
    background-size: cover;
}

.lastsection{
    display: flex;
    justify-self: center;
    align-items: center;
}

.sendmessage{
    display: grid;
    justify-content: center;
    align-items:center;
    height: 350px;
    border-right: 1px solid white;
    padding-left: 50px;
}

.sendmessage p{
    color: white;
    
}

.sendmessage .yourmessage{
    width: 400px;
    height: 200px;
    padding-bottom: 170px;
    padding-left: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 3px;
    resize: none;
    font-style: inherit;
    font-size: 16px;
}


.sendmessage .email{
    height: 30px;
    width: 250px;
    padding-left: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
}

.sendmessage .sendmessagebtn{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    font-size: 1em;
    background: rgb(77, 135, 242);
    margin-top: 20px;
    transition: .3s;
}

.sendmessage .sendmessagebtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
    border: none;
}

.quicklinks{
    width:380px;
    height: 350px;
    display: grid;
    justify-content: center;
    align-items:center;
    padding-top: 20px;
    padding-bottom: 260px;
    color: white;
    border-right: 1px solid white;

}

.quicklinks p{
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.quicklinks a{
    margin-top: 10px;
    color: white;
}

.contacts{
    width: 386px;
    height: 620px;
    display: grid;
    justify-content: center;
    align-items:center;
    height: 620px;
    padding-top: 140px;
    padding-bottom: 160px;
    color: white;
    padding-left: 70px;
    padding-right: 50px;
}

.contacts .title{
    font-weight: 600;
}

.contacts span{
    font-size: 30px;
    margin-right: 10px;
}


.contacts .phone{
    display: flex;
    align-items: center;
}

.contacts .mail{
    display: flex;
    align-items: center;
}

.contacts .subscribe{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    font-size: 1em;
    background: rgb(77, 135, 242);
    margin-top: 20px;
    transition: .3s;
}

.contacts .subscribe:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
    border: none;
}

.mediaicons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.mediaicons i{
    font-size: 30px;
}

.contacts .email{
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.conclude1{
    padding-top: 8px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
   

}

.conclude1 a{
    color: white;
    margin-right: 50px;
}

.conclude2 a{
    color: white;
}


.conclude2{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
  
}



.copyright{
    margin-right: 50px;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-bottom: 7px;
}

.foot{
    width: 100%;
    background: rgba(1, 27, 82, 0.467);
}