*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/* navigation bar */

.navbar{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  
}

.logo{
    font-size: 1.5em;
    display: flex;
    justify-content: left;
    font-weight: 900;   

}

.logo:hover{
   cursor: pointer;
}

.links{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 50px;
    padding-left: 150px;
    font-size: 1.2em;
    font-weight: 500;
   
}

.links a {
    width: 120px;
    text-decoration: none;
    color: rgb(77, 135, 242);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


.links a::after{
    content: '';
    width: 120px;
    height: 3px;
    background: rgb(236, 83, 109);
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin:center;
    transform: scaleX(0);
    transition: transform .5s;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}

.navbtns{
    display: flex;
    justify-content: right;
    align-items: center;
}



.navbtn2{
    color: white;
    border: 1px solid rgb(77, 135, 242);
    background: rgb(77, 135, 242);
    border-radius: 20px;
    width: 180px;
    height: 40px;
    border: none;
    margin-left: 40px;
    font-size: 0.8em;
    transition: .3s;
}

.navbtn2:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}

.navbtn2 a{
    text-decoration: none;
    color: white;
}

.content{ 
    margin: 50px;
    margin-left: 60px;
    margin-right: 80px;
}

.content .intro h3{
    color: rgb(77, 135, 242);
}

.content .intro p{
    margin-bottom: 20px;
    line-height: 2;
}




/* our pricing */

.servicesection{
    padding-left: 50px;
    padding-right: 50px;
}

.servicesection h3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(77, 135, 242);
}

.servicecards{
    margin-top: 30px;
    display: flex;
    justify-content: center
    
}


.servicecards .cd{
    border: 1px solid rgb(77, 135, 242);
    height: 450px;
    width: 300px;
    border-radius: 10px;
    margin-right: 50px;
    overflow: hidden;
    margin-bottom: 50px;
    
}

.servicecards .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgb(106, 152, 238);
    color: white;
}

.servicecards .rating{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.resourse1 .line{
    width: 150px;
    height: 1px;
    background: rgb(77, 135, 242);
    
}

.resourse1 span{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
}


.resourse1 p{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.resourse2 .line{
    width: 150px;
    height: 1px;
    background: rgb(77, 135, 242);
  
}

.resourse2 span{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}


.resourse2 p{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
   
}

.resourse3 .line{
    width: 150px;
    height: 1px;
    background: rgb(77, 135, 242);
    
}

.resourse3 span{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
}

.resourse3 p{
    color: rgb(77, 135, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}



.cdbtn1{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 130px;
    
}

.cdbtn2{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}

.cdbtn3{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}

.cdbtn1 .signupbtn{
    border: none;
    color: white;
    width: 130px;
    background: rgb(77, 135, 242);
    height: 40px;
    border-radius: 8px;
    transition: .5s;
}

.cdbtn1 .signupbtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}

.cdbtn2 .signupbtn{
    border: none;
    color: white;
    width: 130px;
    background: rgb(77, 135, 242);
    height: 40px;
    border-radius: 8px;
    transition: .5s;
}

.cdbtn2 .signupbtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}

.cdbtn3 .signupbtn{
    border: none;
    color: white;
    width: 130px;
    background: rgb(77, 135, 242);
    height: 40px;
    border-radius: 8px;
    transition: .5s;
}

.cdbtn3 .signupbtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}

.bx.bxs-star{
    color: rgb(234, 234, 7);
    font-size: 30px;
    margin-bottom: 10px;
}


#star{
    color: rgb(203, 203, 203);
}



/* our clients */

.ourclients{
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
}

.ourclients h3{
    color: rgb(77, 135, 242);
    margin: 20px;
}

.clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .fordak{
    height: 190px;
    margin-right: 50px;
}

.clients .goil{
    height: 180px;
    margin-right: 80px;
}

.clients .hubtel{
    height: 80px;
}

.clients .calbank{
    margin-left: 50px;
    height: 140px;
}

.clients .cocoa{
    height: 150px;
}





/* our team */

.ourteam{
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
}

.ourteam h3{
    color: rgb(77, 135, 242);
    margin: 20px;
    margin-bottom: 50px;
}

.members{
    display: flex;
    justify-content: space-between;
}

.members .card{
    border-radius: 10px;
    border: 2px solid rgb(77, 135, 242);
    width: 270px;
    height: 390px;
    overflow: hidden;
    line-height: 0.2;
    margin-bottom: 70px;
}

.members .card .image1{
    width: 280px;
    height: 260px;
    background: url(man1.webp);
    background-size: cover;
    background-position: absolute;
    
}

.members .card .image2{
    width: 280px;
    height: 260px;
    background: url(man2.avif);
    background-size: cover;
}


.members .card .image3{
    width: 280px;
    height: 260px;
    background: url(man3.jpeg);
    background-size: cover;
}

.members .card .image4{
    width: 280px;
    height: 260px;
    background: url(woman.jpg);
    background-size: cover;
}

.identity h3{
    text-align: center;
    margin-top: 30px;
}

.identity p{
    text-align: center;
    margin-bottom: 25px;
    color: rgb(81, 80, 80);
}

.members .mediaicons i{
    color: rgb(28, 104, 245);
}

h6{
    color: rgb(77, 135, 242);
    font-size: 23px;
    text-align: center;
    margin-bottom: 50px;
}

.people{
    height: 500px;
}










/* messagesection */

.messagesection{
    width: 100%;
    height: 731px;
    border-top: 1px solid rgb(77, 135, 242);
    background: url('businesspic.png');
    background-repeat: none;
    background-size: cover;
}

.lastsection{
    display: flex;
    justify-self: center;
    align-items: center;
}

.sendmessage{
    display: grid;
    justify-content: center;
    align-items:center;
    width: 600px;
    height: 350px;
    border-right: 1px solid white;

}

.sendmessage p{
    color: white;
    
}

.sendmessage .yourmessage{
    width: 400px;
    height: 200px;
    padding-bottom: 170px;
    padding-left: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 3px;
}


.sendmessage .email{
    height: 30px;
    width: 250px;
    padding-left: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
}

.sendmessage .sendmessagebtn{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    font-size: 1em;
    background: rgb(77, 135, 242);
    margin-top: 20px;
}

.sendmessage .sendmessagebtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}

.quicklinks{
    width:380px;
    height: 350px;
    display: grid;
    justify-content: center;
    align-items:center;
    padding-top: 20px;
    padding-bottom: 260px;
    color: white;
    border-right: 1px solid white;

}

.quicklinks p{
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.quicklinks a{
   
    color: white;
}

.contacts{
    width: 386px;
    height: 620px;
    display: grid;
    justify-content: center;
    align-items:center;
    height: 620px;
    padding-top: 140px;
    padding-bottom: 160px;
    color: white;
    padding-left: 70px;
    padding-right: 50px;
}

.contacts .title{
    font-weight: 600;
}

.contacts span{
    font-size: 30px;
    margin-right: 10px;
}


.contacts .phone{
    display: flex;
    align-items: center;
}

.contacts .mail{
    display: flex;
    align-items: center;
}

.contacts .subscribe{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    font-size: 1em;
    background: rgb(77, 135, 242);
    margin-top: 20px;
}

.contacts .subscribe:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}

.mediaicons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.mediaicons i{
    font-size: 30px;
}

.contacts .email{
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.conclude1{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

}

.conclude1 a{
    color: rgb(28, 104, 245);
}

.conclude2 a{
    color: rgb(28, 104, 245);
}


.conclude2{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
}



.copyright{
    margin-right: 50px;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
    color: rgb(28, 104, 245);
    padding-bottom: 15px;
}



