*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
}


/* navigation bar */

.navbar{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  
}

.logo{
    font-size: 1.5em;
    display: flex;
    justify-content: left;
    font-weight: 900;   

}

.logo img{
    margin-left: 60px;
    margin-bottom: 10px;
    width: 150px;
}

.logo img:hover{
   cursor: pointer;
}

.logo:hover{
   cursor: pointer;
}

.links{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 50px;
    padding-left: 250px;
    font-size: 1.2em;
    font-weight: 500;
   
}

.links a {
    width: 120px;
    text-decoration: none;
    color: rgb(77, 135, 242);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


.links a::after{
    content: '';
    width: 120px;
    height: 3px;
    background: rgb(236, 83, 109);
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin:center;
    transform: scaleX(0);
    transition: transform .5s;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}

.navbtns{
    display: flex;
    justify-content: right;
    align-items: center;
}



.navbtn2{
    color: white;
    border: 1px solid rgb(77, 135, 242);
    background: rgb(77, 135, 242);
    border-radius: 20px;
    width: 180px;
    height: 40px;
    border: none;
    margin-left: 40px;
    font-size: 0.8em;
    transition: .3s;
}

.navbtn2:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}

.navbtn2 a{
    text-decoration: none;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    line-height: 18px;
    margin-top: 100px;
    width: 1349px;
}

.description{
   margin-bottom: 60px;
   width: 590px;
}



/* photo */

.content .photo2{
    background: url("/asset/softintern.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.content .photo1{
    background: url("/asset/uiintern.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.content .blue{
    font-size: 13px;
    color: rgb(77, 135, 242);
}

.content li{
    font-size: 14px;
}
.content ul{
    margin-left: 12px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 70px;
}

.applybtn{
    height: 35px;
    width: 120px;
    border: none;
    border-radius: 25px;
    margin-right: 50px;
    color: black;
    background: rgb(77, 135, 242);
    font-size: 16px;
    transition: .5s;
}

.applybtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}

.backbtn{
    height: 35px;
    width: 120px;
    border: 2px solid rgb(77, 135, 242);
    border-radius: 25px;
    color: rgb(77, 135, 242);
    font-size: 16px;
    background: transparent;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backbtn:hover{
    cursor: pointer;
    background: rgb(77, 135, 242);
    color: white;
}

.backbtn i{
  text-align: center;
    font-size: 25px;
}

.popscreen{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(146, 146, 146, 0.52);
    width: 100%;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: .5s;
}

.popscreen.action{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(146, 146, 146, 0.52);
    width: 1349px;
    height: 830px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup{
    margin-top: 40px;
    border: 1px solid rgb(77, 135, 242);
    height: 150px;
    background: white;
    border-radius: 7px;
    width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
}


.popup p{
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
}

.yes{
    background: rgb(77, 135, 242);
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    transition: .3s;
}

.yes:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}


.no{
    background: white;
    color: rgb(77, 135, 242);
    border: 1px solid rgb(77, 135, 242);
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
    transition: .3s;
}

.no:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
    color: white;
}

.popup2{
    margin-top: 40px;
    border: 1px solid rgb(77, 135, 242);
    height: 470px;
    background: white;
    border-radius: 7px;
    width: 800px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.popup2 .image{
    background: url('/asset/Tiny\ business\ people\ or\ friends\ with\ birthday\ or\ Christmas\ gift.png');
    height: 251px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.popup2 p{
    text-align: center;
    font-size: 13px;
    margin-bottom: 45px;
}

.popup2 .topic{
    color: rgb(18, 199, 18);
    font-size: 25px;
    margin-bottom: 15px;
}

.popup2 .close{
    position: relative;
    right: -545px;
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(77, 135, 242);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}



.invite{
    margin-top: -40px;
    background: rgb(77, 135, 242);
    color: white;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    font-size: 15px;
    transition: .3s;
}

.invite:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
}