*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: fit-content;
   
}


/* navigation bar */

.navbar{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  
}

.logo{
    font-size: 1.5em;
    display: flex;
    justify-content: left;
    font-weight: 900;   

}

.logo img{
    margin-left: 60px;
    margin-bottom: 10px;
    width: 150px;
}

.logo img:hover{
   cursor: pointer;
}

.logo:hover{
   cursor: pointer;
}

.links{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 50px;
    padding-left: 250px;
    font-size: 1.2em;
    font-weight: 500;
   
}

.links a {
    width: 120px;
    text-decoration: none;
    color: rgb(77, 135, 242);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


.links a::after{
    content: '';
    width: 120px;
    height: 3px;
    background: rgb(236, 83, 109);
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin:center;
    transform: scaleX(0);
    transition: transform .5s;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}

.profile{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.profilepic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('/asset/lead1.jpg');
    background-size: contain;
}

.greetings{
    color: rgb(77, 135, 242);
    font-weight: 600;
}

.profile .comp{
     color: rgb(80, 80, 80);
     font-size: 12px;
}






/* cards */
.card{
    width: 600px;
    height: 450px;
    border: 1px solid rgb(77, 135, 242);
    margin: 40px;
    display: flex;
    padding: 30px;
    
}

.cards1{
    display: flex;
    justify-content: space-between;
}


.cards2{
    display: flex;
    justify-content: space-between;
}

.cards3{
    display: flex;
    justify-content: space-between;
}

.cards4{
    display: flex;
    justify-content: space-between;
}

.cards5{
    display: flex;
    justify-content: space-between;
}

.cards6{
    display: flex;
    justify-content: space-between;
}


.cardimage1{
    width: 60%;
    background: url("/asset/uiintern.jpeg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage2{
    width: 60%;
    background: url("/asset/softintern.jpeg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage3{
    width: 60%;
    background: url("/asset/cocoaintern.jpg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage4{
    width: 60%;
    background: url("/asset/businessintern.jpg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage5{
    width: 60%;
    background: url("/asset/networkintern.jpg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage6{
    width: 60%;
    background: url("/asset/aiintern.jpg");
    background-size: cover;
    margin-right: 30px;
    background-repeat: no-repeat;
   
}

.cardimage7{
    width: 60%;
    background: url("/asset/marketintern.jpeg.jpg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage8{
    width: 60%;
    background: url("/asset/businessintern.jpg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage9{
    width: 60%;
    background: url("/asset/cocoaintern.jpg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage10{
    width: 60%;
    background: url("/asset/softintern.jpeg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage11{
    width: 60%;
    background: url("/asset/uiintern.jpeg");
    background-size: cover;
    margin-right: 30px;
}

.cardimage12{
    width: 60%;
    background: url("/asset/businessintern.jpg");
    background-size: cover;
    margin-right: 30px;
}



.cardcontent{
    width: 45%;
    font-size: 0.9em;
}

.description p{
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 15px;
}

ul{
    padding-left: 20px;
    margin-bottom: 10px;
}

.cardcontent h5{
    color: rgb(77, 135, 242);
    font-size: 1.3em;    
}

.cardcontent .title p{
    margin-bottom: 10px;
    color: rgb(125, 126, 126);
}

.btns{
    display: grid;
    justify-content: center;
    align-items: center;
}

.detailbtn{
    border: 1px solid rgb(77, 135, 242);
    background: transparent;
    margin: 5px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    transition: .5s;
}

.detailbtn:hover{
    cursor: pointer;
    background: rgb(77, 135, 242);
    color: white;
}

.applybtn{
    border: 1px solid rgb(77, 135, 242);
    width: 120px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    background: rgb(77, 135, 242);
    margin: 5px;
    transition: .5s;
}

.applybtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);

}