*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: fit-content;
}


/* navigation bar */

.navbar{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  
}

.logo{
    display: flex;
    justify-content: left; 
}

.logo img{
    margin-left: 60px;
    margin-bottom: 10px;
    width: 150px;
}

.logo img:hover{
   cursor: pointer;
}

.links{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
    padding-left: 180px;
    font-size: 1.2em;
    font-weight: 500;
   
}

.links a {
    width: 120px;
    text-decoration: none;
    color: rgb(77, 135, 242);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


.links a::after{
    content: '';
    width: 120px;
    height: 3px;
    background: rgb(236, 83, 109);
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin:center;
    transform: scaleX(0);
    transition: transform .5s;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}

.content{
    margin-left: 10px;
    margin-right: 60px;
    padding-bottom: 100px;
}

.topsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.topsection .paragraphs{
    padding-bottom: 90px;
}

.topsection .paragraphs .topic{
    line-height: 65px;
    font-size: 45px;
    color: rgb(77, 135, 242);
    font-weight: 500;
    width: 640px;
   margin-bottom: 30px;
}

.topsection .paragraphs p{
    color: rgb(236, 83, 109);
}

.content .photosection{
    background: url(/asset/Layer\ -3.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 550px;
    height: 450px;
 
}

.content  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form label{
    color: rgb(77, 135, 242);
}

form .info {
    display: grid;
    justify-content: space-between;
    align-items: center;
}

form .info label{
    margin-bottom: 10px;
}

form .info input{
    outline: none;
    border: 1px solid rgb(77, 135, 242);
    padding-left: 10px;
    width: 450px;
    height: 35px;
    margin-bottom: 20px;
}

form .choice{
  
    color: rgb(77, 135, 242);
    margin-bottom: 20px;
}

form .choice input{
    margin-top: 10px;
    color: rgb(77, 135, 242);
}

form .largearea {
    display: grid;
    align-items: center;
}

form .largearea input{
    outline: none;
    border: 1px solid rgb(77, 135, 242);
    padding-left: 10px;
    width: 450px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 210px;
}

form .submitbtn{
    margin-top: 10px;
    background: rgb(77, 135, 242);
    color: white;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 35px;
    margin-left: 300px;
    transition: .5s;
}

form .submitbtn:hover{
    cursor: pointer;
    background: rgb(36, 101, 221);
}

form .submitbtn a{
    padding-left: 35px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}


form .registerbtn:hover{
    cursor: pointer;
    background: rgb(36, 101, 221);
}

.forms p{
    padding-top: 100px;
    font-size: 21px;
    color: rgb(77, 135, 242);
}

form .left{
    margin-left: 130px;
    display: grid;
}

form .right{
    display: grid;
    margin-right: 130px;
    margin-top: -10px;
}


/* messagesection */

.messagesection{
    width: 100%;
    height: 731px;
    background-color: rgba(9, 0, 93, 0.841);
    border-top: 1px solid rgb(77, 135, 242);
    background-image: url('/asset/people.png');
    background-repeat: none;
    background-size: cover;
}

.lastsection{
    display: flex;
    justify-self: center;
    align-items: center;
}

.sendmessage{
    display: grid;
    justify-content: center;
    align-items:center;
    width: 600px;
    height: 350px;
    border-right: 1px solid white;

}

.sendmessage p{
    color: white;
    
}

.sendmessage .yourmessage{
    width: 400px;
    height: 200px;
    padding-bottom: 170px;
    padding-left: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 3px;
}


.sendmessage .email{
    height: 30px;
    width: 250px;
    padding-left: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
}

.sendmessage .sendmessagebtn{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    font-size: 1em;
    background: rgb(77, 135, 242);
    margin-top: 20px;
    transition: .3s;
}

.sendmessage .sendmessagebtn:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
    border: none;
}

.quicklinks{
    width:380px;
    height: 350px;
    display: grid;
    justify-content: center;
    align-items:center;
    padding-top: 20px;
    padding-bottom: 260px;
    color: white;
    border-right: 1px solid white;

}

.quicklinks p{
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.quicklinks a{
    margin-top: 10px;
    color: white;
}

.contacts{
    width: 386px;
    height: 620px;
    display: grid;
    justify-content: center;
    align-items:center;
    height: 620px;
    padding-top: 140px;
    padding-bottom: 160px;
    color: white;
    padding-left: 70px;
    padding-right: 50px;
}

.contacts .title{
    font-weight: 600;
}

.contacts span{
    font-size: 30px;
    margin-right: 10px;
}


.contacts .phone{
    display: flex;
    align-items: center;
}

.contacts .mail{
    display: flex;
    align-items: center;
}

.contacts .subscribe{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    font-size: 1em;
    background: rgb(77, 135, 242);
    margin-top: 20px;
    transition: .3s;
}

.contacts .subscribe:hover{
    cursor: pointer;
    background: rgb(28, 104, 245);
    border: none;
}

.mediaicons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.mediaicons i{
    font-size: 30px;
}

.contacts .email{
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.conclude1{
    padding-top: 15px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

}

.conclude1 a{
    color: white;
}

.conclude2 a{
    color: white;
}


.conclude2{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}



.copyright{
    margin-right: 50px;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-bottom: 15px;
}

.foot{
    width: 100%;
    background: rgba(77, 58, 249, 0.608);
}




