*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: fit-content;
    font-family: sans-serif;

}


/* navigation bar */

.navbar{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  
}

.logo{
    display: flex;
    justify-content: left;
}

.logo img{
    margin-left: 60px;
    margin-bottom: 10px;
}

.logo img:hover{
   cursor: pointer;
}

.logo:hover{
   cursor: pointer;
}

.links{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 50px;
    padding-left: 250px;
    font-size: 1.2em;
    font-weight: 500;
   
}

.links a{
    margin-right: 10px;
    width: 120px;
    text-decoration: none;
    margin-left: 0px;
    color: rgb(77, 135, 242);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.links a::after{
    content: '';
    width: 120px;
    height: 3px;
    background: rgb(236, 83, 109);
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin:center;
    transform: scaleX(0);
    transition: transform .5s;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}


.main{
    display: flex;
    height: 600px;
    margin: 0 60px;
    margin-bottom: 40px;
    width: 1200px;

}



.main .passwordimage{
    width: 40%; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    
}

.main .passwordimage img{
    position: absolute;
    width: 600px; 
    height: 600px;
    left: 100px;
    top: 50px;
    z-index: -1;
}

.main .resetsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(77, 135, 242);
    border-radius: 20px;
    width: 530px;
    margin-left: 150px;
    height: 530px;
    margin-top: 10px;
    padding: 30px;
}

.resetsection .topic {
    color: rgb(77, 135, 242);
    font-size: 23px;
    margin-bottom: 15px;
    font-weight: 600;
}

.resetsection p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

form {
    width: 100%;
    padding-left: 20px;
}

form label {
    color: rgb(77, 135, 242);
}

form input {
    width: 400px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(77, 135, 242);
    margin-top: 6px;
    border-radius: 40px;
    padding: 0px 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

form .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.buttons .resetbtn {
    height: 35px;
    width: 200px;
    border-radius: 40px;
    outline: none;
    border: none;
    color: white;
    background: rgb(77, 135, 242);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.buttons .resetbtn:hover {
    cursor: pointer;
    background: rgb(13, 92, 240);
}

form .prompts {
    padding: 0;
    text-align: left;
}

.new-password .eye1{
    position: relative;
    color: black;
    right: 35px;
    top: 5px;
    font-size: 20px;
    display: none;
}

.new-password .eye1{
    cursor: pointer;
}

.new-password .eye-off1{
    position: relative;
    color: black;
    right: 35px;
    top: 5px;
    font-size: 20px;
    display: inline-block;
    
}

.new-password .eye-off1{
    cursor: pointer;
}

.confirm-password .eye2{
    position: relative;
    color: black;
    right: 35px;
    top: 5px;
    font-size: 20px;
    display: none;
}

.confirm-password .eye2{
    cursor: pointer;
}

.confirm-password .eye-off2{
    position: relative;
    color: black;
    right: 35px;
    top: 5px;
    font-size: 20px;
    
}

.confirm-password .eye-off2{
    cursor: pointer;
}
